<div id="noam" ng-animate=" 'animate' ">Home</div>

<button ng-click="vm.boolean = !vm.boolean" class="button"> Button</button>

<!-- <div ng-show="vm.boolean" id="noam" class="noam animated fadeInUp">Noam</div>
 -->
<div ng-show="vm.boolean" id="noam" class="ng-hide ng-show">Noam</div>



<div class="bas box-one" style="width: 100%; margin: auto ;" ng-show="vm.boolean">

    <div class=" button" ng-click="vm.boolean = false">CLOSE</div>
    <div class="  list">

        <a class="item item-avatar" href="#">
            <img src="venkman.jpg">
            <h2>Venkman</h2>
            <p>Back off, man. I'm a scientist.</p>
        </a>
        <a class="item item-avatar" href="#">
            <img src="venkman.jpg">
            <h2>Venkman</h2>
            <p>Back off, man. I'm a scientist.</p>
        </a>
    </div>
</div>
